/* basics */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

a,
a:hover,
a:focus {
  color: inherit;
}

.container {
  max-width: 90%;
  margin: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 45px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(
    to top right,
    rgb(211, 197, 224),
    rgb(140, 0, 255)
  );
}

form {
  background-color: white;
  gap: 1rem;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  box-sizing: border-box;
}

/* header */
header {
  padding-top: 40px;
}
header h1 {
  /* margin-top: 40px; */
  color: blueviolet;
  font-size: 25px;
  font-weight: bolder;
}

header a {
  color: dodgerblue;
}

header p {
  text-align: center;
}

header .icon {
  display: none;
  color: rgb(140, 0, 255);
}

/* main */

main {
  padding-top: 40px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

main div label {
  display: block;
  margin-bottom: 10px;
}

main div p {
  color: blueviolet;
  font-size: small;
  padding-top: 5px;
}

main div input {
  width: 100%;
  height: 40px;
  border: 2px solid rgb(226, 226, 226);
  transition: all 0.5s ease;
}

main div textarea {
  border: 2px solid rgb(226, 226, 226);
  width: 100%;
  height: 40px;
}

main button {
  align-self: start;
  background-color: blueviolet;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: larger;
  transition: all 0.5s ease;
}

main button:hover {
  background-color: rgb(113, 12, 207);
}

.error-message {
    color: red;
    font-size: 12px;
}

.input-error {
    border-color: red !important;
}

/* responsive */

/* extra smallll */
@media (min-width: 570px) and (max-width: 768px) {
  form {
    background-color: white;
    width: 90%;
    margin: auto;
    height: 88vh;
  }
}

/* medium */
@media (min-width: 769px){
  form {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 10% auto;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

  }
  header .icon {
    margin: auto 50px;
    display: block;
    font-size: 150px;
  }
}